<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/base.css" />
    <link
      rel="icon"
      type="image/png"
      href="/assets/icons/favicon-16x16.png" />
    <title>Philipp Barth</title>
  </head>
  <body class="page">
    <header>
      <nav class="navbar">
        <ul class="menu">
          <li>
            <span class="menu-item">
              <div class="hover-item">></div>
              <a href="/">Home</a>
            </span>
          </li>
          <li>
            <span class="menu-item">
              <div class="hover-item">></div>
              <a href="/programming/">Programming</a>
            </span>
          </li>
          <li>
            <span class="menu-item">
              <div class="hover-item">></div>
              <a href="/blog/">Blog</a>
            </span>
          </li>
          <li>
            <span class="menu-item">
              <div class="hover-item">></div>
              <a href="/about/">About</a>
            </span>
          </li>
          <li>
            <span class="menu-item">
              <div class="hover-item">></div>
              <a href="/contact/">Contact</a>
            </span>
          </li>
        </ul>
      </nav>
    </header>

    <main class="content">{{ content }}</main>
    <footer>
      <p>&copy; 2025 Philipp Barth. All rights reserved.</p>
      <p>
        <a target="_blank" href="https://www.linkedin.com/in/philipp-barth-955159213">LinkedIn</a>
        |
        <a target="_blank" href="https://github.com/senorfelipe">GitHub</a>
      </p>
    </footer>
  </body>
  <script src="/js/sideEffects.js"></script>
  <script src="/js/typewriter.js"></script>
</html>