@import "colors.css";

.title-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-text {
  margin: 0;
  flex: 1;
  align-self: flex-start;
  margin-right: 20px;
}

.title-text h1 {
  margin: 0;
}

.title-content img {
  border-radius: 0px;
  max-width: 100%;
  height: 30vh;
}

img {
  position: relative;
  z-index: -1;
  transform: rotate(5deg);
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: auto;
  margin: 0 20px;
  max-width: 100%;
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

/* Code from https://codepen.io/binarykiwi/pen/BbOoPy */

.img-tape {
  z-index: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 30px auto 20px;

  &:before,
  &:after {
    background: rgba(255, 255, 235, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    margin: auto;
    width: 130px;
  }
}

.img-tape--2 {
  &:before {
    left: 0;
    top: 10px;
    transform: rotate(-35deg);
  }

  &:after {
    right: 0;
    top: 15px;
    transform: rotate(45deg);
  }
}

.img-tape--3 {
  &:before {
    left: 0;
    top: 0px;
    transform: rotate(-40deg);
  }

  &:after {
    bottom: 0px;
    right: 0;
    transform: rotate(-35deg);
  }
}

.img-tape--4 {
  &:before {
    left: -30px;
    margin-top: -15px;
    top: 50%;
    transform: rotate(93deg);
  }

  &:after {
    margin-top: -30px;
    right: -30px;
    top: 50%;
    transform: rotate(89deg);
  }
}

@media (max-width: 800px) {
  .title-content {
    flex-direction: column;
  }
}
