/* Color Palette CSS Variables */
:root {
    /* Base Colors */
    --background-1: #cf9eac;
    --background-2: #2f4858ff;
    --highlight-2: #e2b659;
    --highlight-2-dark: #748ea0;
    --orange-pantone: #f26419ff;

    /* Additional Settings */
    --border-radius: 8px;
    --transition-duration: 0.3s;
}