
.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--highlight-2);
    background-color: var(--background-2);
    border-radius: var(--border-radius);
    padding: 20px;
}

.ascii-art {
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .ascii-art {
        font-size: 0.7rem;
    }
    
}